<footer class="vf-footer | vf-body">
  <div class="vf-footer__inner">
    <p class="vf-footer__notice">A description of site or org</p>
    <div class="vf-footer__links-group | vf-grid vf-grid__col-6">
      <div class="vf-links">
        <h4 class="vf-links__heading"><a href="">Research</a></h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a href="vf-list__link">Bioinformatics</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Cell Biology and Biophysics</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Developmental Biology</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Director's Research</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Epigenetics and Neurobiology</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Genome Biology</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Structural and Computational Biology</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Structural Biology</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Tissue Biology and Disease Modelling</a></li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Training</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a href="vf-list__link">Courses and Conferences</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Programmes</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Education</a></li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Services</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a href="vf-list__link">By Topic</a></li>
          <li class="vf-list__item"><a href="vf-list__link">A-Z</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Beamlines</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Core Facilities</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Imaging</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Technology</a></li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">About EMBL</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a href="vf-list__link">What is EMBL?</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Leadership</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Faculty</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Alumni</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Contact us</a></li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Find</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a href="vf-list__link">Jobs</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Courses</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Conferences</a></li>
          <li class="vf-list__item"><a href="vf-list__link">People</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Publications</a></li>
        </ul>
      </div>
      <div class="vf-links">
        <h4 class="vf-links__heading">Locations</h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item"><a href="vf-list__link">Barcelona</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Grenoble</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Hamburg</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Heidelberg</a></li>
          <li class="vf-list__item"><a href="vf-list__link">EMBL-EBI Hinxton</a></li>
          <li class="vf-list__item"><a href="vf-list__link">Rome</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>