<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/embl-design-system/develop/css/styles.css" />
  <link rel="stylesheet" media="all" href="{{ '/css/app.css' | url }}" />
  <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}} | EMBL.org</title>
</head>
<style>.vf-intro {margin-top: 3rem;}</style>
<body class="{{ bodyClass }}" >

  <header class="vf-global-header">
    <div class="vf-global-header__inner">
      {% render '@embl-logo--responsive' %}
       <p class="vf-global-header__site-name">{{ text }}</p>
      
    </div>
  </header> 


<div class="vf-body">

<div class="vf-grid vf-u-margin__top--r">
<!-- embl global banner -->
<link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=580&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
</div>

  {{ content | safe }}

</div>
{% include "footer.njk" %}
</body>
</html>
