---
title: Content prototype - Research
date: 2018-11-08 12:34:56
subtitle: sub title
layout: layouts/cp-base.njk
section: content-prototype
embl_content_meta_properties:
  who: tocome
  what: tocome
  where: tocome
  active: tocome
  utility: tocome
  reach: tocome
  maintainer: tocome
  lastreview: tocome
  reviewcycle: tocome
  expiry: tocome
templateEngineOverride: njk,md
---

<section class="cp-container vf-grid">
  <nav class="vf-navigation vf-navigation--global">
    <ul class="vf-navigation__list | vf-list--inline">
      <li class="vf-navigation__item"><a href="{{ '/' | url }}" class="vf-navigation__link">Home</a></li>
      <li class="vf-navigation__item"><a href="{{ '/research' | url }}" class="vf-navigation__link">Research</a></li>
      <li class="vf-navigation__item"><a href="{{ '/services' | url }}" class="vf-navigation__link">Services</a></li>
      <li class="vf-navigation__item"><a href="{{ '/training' | url }}" class="vf-navigation__link">Training</a></li>
      <li class="vf-navigation__item"><a href="{{ '/about' | url }}" class="vf-navigation__link">About EMBL</a></li>
    </ul>
  </nav>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
  <h1>Research at EMBL</h1>
</section>

<section class="cp-container vf-grid vf-grid__col-2">
  <div>
  <p class="cp-lede">From Genomes to Ecosystems – Life is Amazing! </p>
  <p>The diversity of animals, plants, microorganisms and all living systems results from a common core of information interpreted through millions of different biochemical pathways. Understanding how it all works,from the Genome to Ecosystems,is an enormous challenge – but that is what we do. <a href="#">Learn more about EMBL's research story</a></p>
  <h2>Browse by <a href="#units">Research Unit</a>, <a href="#discipline">discipline</a> or <a href="">A-Z</a></h2>
  </div>
  <div>
    <img src="/images/grey-box.png"  class="cp-image-responsive"/>
  </div>

</section>


<h1 class="vf-grid vf-grid__col-1" id="#units">Research Units</h1>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="cell-biology/index.html">Cell Biology and Biophysics &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-2">
    <div>
      <p>In this Unit, physicists and chemists work closely together with biologists to elucidate the fundamental rules that govern dynamic cell organisation and function. At the same time, groups are developing new instruments and technologies in order to reach this ambitious goal.</p>
      <ul>
        <li><a href="#">Unit members</a></li>
        <li><a href="#">Research groups</a></li>
      </ul>
    </div>
    <div>
      <img src="/images/cp-avatar.png" class="cp-image-fixed"/>
      <h4><a href="#">Jan Ellenberg</a></h4>
      <p>Head of Cell Biology and Biophysics Unit</p>
    </div>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">Developmental Biology &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-2">
    <div>
      <p>The development of multicellular organisms from single cells to adult animals requires the dynamic interplay of many cellular processes, coordinated in space and time. </p>
      <ul>
        <li><a href="#">Unit members</a></li>
        <li><a href="#">Research groups</a></li>
      </ul>
    </div>
    <div>
      <img src="/images/cp-avatar.png" class="cp-image-fixed"/>
      <h4><a href="#">Anne Ephrussi</a></h4>
      <p>Head of Developmental Biology Unit</p>
    </div>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">Directors' Research &rarr;</a></h2>
<p>The Directors' Research Unit covers thematically distinct research groups, headed by EMBL and EMBO’s leadership.</p>
  <div class=" vf-grid vf-grid__col-3">
    <div>
      <h4><a href="#">Heard Group</a></h4>
      <p>Epigenetic mechanisms in development and disease</p>
    </div>
    <div>
      <h4><a href="#">Hentze Group</a></h4>
      <p>RNA biology, metabolism and molecular medicine</p>
    </div>
    <div>
      <h4><a href="#">Leptin Group</a></h4>
      <p>	Cell shape and morphogenesis: subcellular and supracellular mechanisms</p>
    </div>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">Genome Biology &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-2">
    <div>
      <p>The genome encodes the genetic blueprint that coordinates all cellular processes, which ultimately give rise to phenotype. The expression of genetic information is tightly regulated in both time and space at multiple stages, including transcriptional, post-transcriptional and post-translational. </p>
      <ul>
        <li><a href="#">Unit members</a></li>
        <li><a href="#">Research groups</a></li>
      </ul>
    </div>
    <div>
      <img src="/images/cp-avatar.png" class="cp-image-fixed"/>
      <h4><a href="#">Eileen Furlong</a></h4>
      <p>Head of Unit</p>
    </div>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">Structural and Computational Biology &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-3">
    <div>
      <p>The Unit pursues an ambitious research programme in integrated structural and computational systems biology bridging between various spatial and temporal scales.</p>
      <ul>
        <li><a href="#">Unit members</a></li>
        <li><a href="#">Research groups</a></li>
      </ul>
    </div>
    <div>
      <img src="/images/cp-avatar.png" class="cp-image-fixed"/>
      <h4><a href="#">Peer Bork</a></h4>
      <p>Head of Unit and Senior Scientist</p>
    </div>
    <div>
      <img src="/images/cp-avatar.png" class="cp-image-fixed"/>
      <h4><a href="#">Christoph Müller</a></h4>
      <p>Head of Unit and Senior Scientist</p>
    </div>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">Epigenetics and Neurobiology &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-2">
    <div>
      <p>The Unit studies varied mammalian physiological phenomena from a molecular perspective in the context of the whole organism with a very strong emphasis, following a recent refocusing of our research on Neurobiology and Epigenetics and their interface.</p>
      <ul>
        <li><a href="#">Unit members</a></li>
        <li><a href="#">Research groups</a></li>
      </ul>
    </div>
    <div>
      <img src="/images/cp-avatar.png" class="cp-image-fixed"/>
      <h4><a href="#">Philip Avner</a></h4>
      <p>Head of EMBL Rome</p>
    </div>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">Tissue Biology and Disease Modelling &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-2">
    <div>
      <p>Scientists at EMBL Barcelona will explore how tissues and organs function and develop, in health and disease.</p>
      <p>Alongside cutting-edge research, the site will house state-of-the-art imaging facilities, enabling scientists worldwide to access microscopy and modelling technologies specifically designed for studying tissues.</p>
      <ul>
        <li><a href="#">Unit members</a></li>
        <li><a href="#">Research groups</a></li>
      </ul>
    </div>
    <div>
      <img src="/images/cp-avatar.png" class="cp-image-fixed"/>
      <h4><a href="#">James Sharpe</a></h4>
      <p>Head of EMBL Barcelona</p>
    </div>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
  <h2><a href="#">Working at EMBL &rarr;</a></h2>

<div class="vf-grid vf-grid__col-3">
<div class="vf-grid__col--span-2">
  <h3>Latest jobs</h3>
  <table class="cp-table">
        <tbody>
          <tr>
            <td><a href="#">Staff Scientist Position – Structural and functional studies of protein complexes</a></td>
            <td><a href="#" class="cp-meta">Hamburg, Germany</span><td>
            <td><a href="#" class="cp-meta">Science faculty</a></td>
          </tr>
          <tr>
            <td><a href="#">Team Leader in Advanced Light Microscopy Service and Technology Development - EMBL Imaging Centre</a></td>
            <td><a href="#" class="cp-meta">Heidelberg, Germany</span><td>
            <td><a href="#" class="cp-meta">Science faculty</a></td>
          </tr>
          <tr>
            <td><a href="#">Team Leader in Electron Microscopy Service and Technology Development - EMBL Imaging Centre</a></td>
            <td><a href="#" class="cp-meta">Heidelberg, Germany</span><td>
            <td><a href="#" class="cp-meta">Science faculty</a></td>
          </tr>
          <tr>
            <td><a href="#">Research Technician - Haase Group</a></td>
            <td><a href="#" class="cp-meta">Barcelona, Spain</span><td>
            <td><a href="#" class="cp-meta">Research</a></td>
          </tr>
          <tr>
            <td><a href="#">Exciting EIPOD Postdoctoral Fellowships at the European Molecular Biology Laboratory (EMBL)</a></td>
            <td><a href="#" class="cp-meta">All EMBL Sites (Germany, UK, France, Italy, Spain)</span><td>
            <td><a href="#" class="cp-meta">Postdoctoral fellowships</a></td>
          </tr>
        </tbody>
      </table>
  <p>Browse jobs by <a href="#">location</a> or <a href="#">category</a></p>
</div>
<div>
  <img src="/images/grey-box.png"  class="cp-image-responsive"/>
  <p><a href="#">Join EMBL</a> and you’ll join a community of world-class researchers and skilled professionals working together to uncover the secrets of life. We offer attractive conditions and benefits to attract and retain the brightest talent.</p>
</div>
</div>
</section>

<h1 class="vf-grid vf-grid__col-1" id="#discipline">Interdisciplinary research</h1>
