---
title: Visual Framework 2.0 for the EMBL Design Language

subtitle: To come.
layout: layouts/base.njk
date: 2018-08-22 13:14:22
section: guidelines
section_sub: visualframework
embl_content_meta_properties:
  who: test
  what: test
  where: test
  active: test
  utility: test
  reach: test
  maintainer: test
  lastreview: test
  reviewcycle: test
  expiry: test
templateEngineOverride: njk,md
---


<section class="vf-intro | embl-grid embl-grid--has-centered-content">

  <div></div>

  <h1 class="vf-intro__heading">
    Visual Framework 2.0 for the EMBL Design Language
  </h1>
  <p class="vf-lede">
    <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=146&pattern=node-teaser&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
  </p>
  <p class="vf-intro__text vf-content">
    <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=146&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
  </p>

  <p class="vf-content">

# Getting started

CSS and JS are available hosted as well.

- https://dev.assets.emblstatic.net/vf/develop/
- https://dev.assets.emblstatic.net/vf/{tag}/ (eg v2.1.2)
- https://dev.assets.emblstatic.net/vf/{minor}/ (eg v2.1)
- https://dev.assets.emblstatic.net/vf/{major}/ (eg v2)

<details>
<summary>Technical notes</summary>

Note that for minor and patch specificity (`https://dev.assets.emblstatic.net/vf/v2.1`), updates to the latest patch version may take longer to resolve.

Further detailed notes are available in [this document](https://docs.google.com/document/d/1ZtTR8V28orNgqsOwuKpAGfFOgtlBPQn3dOgh22GhM3c/edit
) and issue(https://github.com/visual-framework/vf-core/pull/304).

</details>


  </p>
</section>


<section class="embl-grid">
  <div>
    <div class="vf-text vf-text--heading-s">Learn more, <br/> get started</div>
  </div>
  <div>
    <div class="vf-grid vf-grid__col-3">
      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="principles-methods">Principles and methods</a>
        <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=4&pattern=node-teaser&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Analytics</a>
        <p>Teaser to come.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Browser, screen support</a>
        <p>Teaser to come.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Analytics</a>
        <p>Teaser to come.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Printing</a>
        <p>Teaser to come.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Page, brand structure</a>
        <p>Teaser to come.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Boilerplate sample pages</a>
        <p>Teaser to come.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Search guidelines</a>
        <p>Teaser to come.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Usability</a>
        <p>Teaser to come.</a>
      </div>


      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="analytics">Designing your content</a>
        <p>Teaser to come.</a>
      </div>

    </div>
  </div>
</section>


<section class="embl-grid">
  <div>
    <div class="vf-text vf-text--heading-s">Develop</div>
  </div>
  <div>
    <div class="vf-grid vf-grid__col-3">

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="//dev.beta.embl.org/guidelines/visual-framework/dev-docs">Build EMBL-branded sites</a>
        <p>Want to build a site, check out the pattern library.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="https://github.com/visual-framework/vf-embl">Role a custom implementation</a>
        <p>Use the Visual Framework for EMBL sites as a starting point for your site's pattern library and framework.</a>
      </div>

      <div data-note="nav-item" class="vf-content">
        <a class="vf-link vf-text vf-text--heading-s" href="https://embl-vf.slack.com/?redir=%2Fmessages">Get some assistance</a>
        <p>We're here to help.</a>
      </div>

    </div>
  </div>
</section>
