---
title: Digital Team projects
date: 2019-01-09 12:24:50
subtitle: To come.
layout: layouts/base.njk
section: landing_pages
embl_content_meta_properties:
  who: Strategy and Communications
  what: Project Dashboard
  where: EMBL
  active: what
  utility: tocome
  reach: tocome
  maintainer: tocome
  lastreview: tocome
  reviewcycle: tocome
  expiry: tocome
---

{% render '@vf-intro', {"vf_intro_phase": "alpha", "vf_intro_heading": title,
  "vf_intro_lede": subtitle,
  "vf_intro_text": [
    'With nearly two-dozen major and minor projects, it can be hard to know the scope of our work and its status. To learn more scroll down and follow the links.<br/><br/> Want to know more about the Digital Team? <a href="https://dev.beta.embl.org/groups/stratcomm/about/" class="vf-link">Head here</a>.'
  ]
} %}


<hr class="vf-divider">

<div data-embl-js-trellolist data-embl-js-trellolist-id="5c98b6dded45ed670bcc59fe" data-embl-js-trellolist-name="In progress"></div>
<div data-embl-js-trellolist data-embl-js-trellolist-id="5c98b6dded45ed670bcc5a02" data-embl-js-trellolist-name="On hold"></div>
<div data-embl-js-trellolist data-embl-js-trellolist-id="5c98b6dded45ed670bcc5a00" data-embl-js-trellolist-name="Delivered"></div>
<div data-embl-js-trellolist data-embl-js-trellolist-id="5c98b6dded45ed670bcc59ff" data-embl-js-trellolist-name="Consultation"></div>
<div data-embl-js-trellolist data-embl-js-trellolist-id="5c98b6dded45ed670bcc5a03" data-embl-js-trellolist-name="Not started"></div>
<div data-embl-js-trellolist data-embl-js-trellolist-id="5c98b6dded45ed670bcc5a01" data-embl-js-trellolist-name="To be retired"></div>
<div data-embl-js-trellolist data-embl-js-trellolist-id="5c98b6dded45ed670bcc5a04" data-embl-js-trellolist-name="Dependencies"></div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.0/marked.min.js'></script>
<script defer="defer" src="page.js"></script>
