---
title: Content prototype
date: 2018-11-08 12:34:56
subtitle: sub title
layout: layouts/cp-base.njk
section: content-prototype
embl_content_meta_properties:
  who: tocome
  what: tocome
  where: tocome
  active: tocome
  utility: tocome
  reach: tocome
  maintainer: tocome
  lastreview: tocome
  reviewcycle: tocome
  expiry: tocome
templateEngineOverride: njk,md
---


<section class="cp-container vf-grid vf-grid__col-1">
  <nav class="vf-navigation vf-navigation--global">
    <ul class="vf-navigation__list | vf-list--inline">
      <li class="vf-navigation__item"><a href="index.html" class="vf-navigation__link">Home</a></li>
      <li class="vf-navigation__item"><a href="research/index.html" class="vf-navigation__link">Research</a></li>
      <li class="vf-navigation__item"><a href="services/index.html" class="vf-navigation__link">Services</a></li>
      <li class="vf-navigation__item"><a href="training/index.html" class="vf-navigation__link">Training</a></li>
      <li class="vf-navigation__item"><a href="about/index.html" class="vf-navigation__link">About EMBL</a></li>
    </ul>
  </nav>
</section>

<section class="cp-container vf-grid vf-grid__col-2">
<div class="cp-hero">
  <p class="cp-lede">EMBL is Europe's Centre of Excellence in life science <a href="#research">research</a>, <a href="#services">services</a> and <a href="#training">training</a> across <a href="#">six locations</a></p>
  <form>
          <input type="text" placeholder="What are you looking for?" class="cp-input">
          <button class="vf-button">Search</button>
        </form>
  <p>Browse <a href="#">Jobs</a>, <a href="#">Conferences</a>, <a href="#">Publications</a>, or <a href="#">People</a></p>

</div>
<div>
  <img src="/images/grey-box.png"  class="cp-image-responsive"/>
  <p>Young fern gametophytes are only about 2 mm tall, making them impossible to photograph using conventional methods. @emblebi alumna Jennifer Deegan built & coded a camera system to produce <a href="https://buff.ly/2ScgJkz⠀">amazing photographs of these tiny plants.</a></p>

  <p class="cp-meta">Jul 18, 2019 <a href="#">View post</a></p>
  <hr/>
  <ul>
    <li><a href="#">Rearranging chromosomes</a><span class="cp-meta">Jul 7</span></li>
    <li><a href="#">Celebrating 20 years of EMBL Rome</a><span class="cp-meta">Jul 3</span</li>
    <li><a href="#">EMBL World Alumni Day </a><span class="cp-meta">Jun 11</span</li>
    <li><a href="#">A tRNA modifier at work</a><span class="cp-meta">May 21</span</li>
    <li><a href="#">Use your coding superpowers for good</a><span class="cp-meta">April 14</span</li>
  </ul>
</div>
</section>

<section id="research" class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="research/index.html">Research at EMBL &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-3">
      <div class="cp-card">
        <img src="/images/grey-box.png"  class="cp-image-responsive"/>
        <p class="cp-meta">Topic: <a href="#">Life is Amazing</a></p>
        <h3><a href="#">From Genomes to Ecosystems – Life is Amazing!</a></h3>
      </div>
       <div>
          <p class="cp-meta"><a href="#">Topic name</a></p>
          <h3><a href="#">Research Content Item</a></h3>
          <p>A description of several lines should go here to give context to the content</p>
          <hr />
          <p class="cp-meta"><a href="#">Topic name</a></p>
          <h3><a href="#">Research Content Item</a></h3>
          <p>A description of several lines should go here to give context to the content</p>
      </div>
    <div>
      <h4>Research units</h4>
      <ul>
          <li><a href="#">Bioinformatics</a></li>
          <li><a href="#">Cell Biology and Biophysics</a></li>
          <li><a href="#">Developmental Biology</a></li>
          <li><a href="#">Director's Research</a></li>
          <li><a href="#">Epigenetics and Neurobiology</a></li>
          <li><a href="#">Genome Biology</a></li>
          <li><a href="#">Structural and Computational Biology</a></li>
          <li><a href="#">Structural Biology</a></li>
          <li><a href="#">Tissue Biology and Disease Modelling</a></li>
        </ul>
        <ul>
          <li><a href="#">Interdisciplinary research</a></li>
        </ul>
    </div>

  </div>
</div>
</section>

<section id="services" class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="services/index.html">Services at EMBL &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-3">
      <div>
        <h3>Bioinformatics services</h3>
        <p>The European Bioinformatics Institute (EMBL-EBI) maintains the world’s most comprehensive range of freely available and up-to-date molecular data resources.</p>
        <form>
          <input type="text" placeholder="Search all tools and data resources" class="cp-input">
          <button class="vf-button">Search</button>
        </form>
        <p>Browse by <a href="#">Tool</a>, <a href="#">Data Resource</a>, or <a href="#">Type</a></p>
      </div>
      <div>
      <h3>Core facilities</h3>
      <ul>
          <li><a href="#">Advanced Light Microscopy</a></li>
          <li><a href="#">Chemical Biology</a></li>
          <li><a href="#">Electron Microscopy</a></li>
          <li><a href="#">Flow Cytometry</a></li>
          <li><a href="#">Genomics</a></li>
          <li><a href="#">Metabolomics</a></li>
          <li><a href="#">Protein Expression and Purification</a></li>
          <li><a href="#">Proteomics</a></li>
        </ul>
    </div>
      <div>
          <h3>Services at EMBL locations</h3>
          <ul>
          <li><a href="#">Barcelona</a></li>
          <li><a href="#">Hamburg</a></li>
          <li><a href="#">Heidelberg</a></li>
          <li><a href="#">Hinxton</a></li>
          <li><a href="#">Grenoble</a></li>
          <li><a href="#">Rome</a></li>
        </ul>
      </div>


  </div>
</div>
</section>

<section id="training" class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="training/index.html">Training at EMBL &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-2">
    <div>
      <h3>Upcoming <a href="#">conferences</a>, <a href="#">seminars</a> and <a href="#">events</a></h3>
       <table>
        <tbody>
          <tr>
            <td><span class="cp-meta">4 Sep</span><td>
            <td><a href="#" class="cp-meta">Heidelberg</a></td>
            <td><a href="#">EMBO Workshop: Protein Synthesis and Translational Control</a></td>
          </tr>
          <tr>
            <td><span class="cp-meta">10 Sep</span><td>
            <td><a href="#" class="cp-meta">EMBL-EBI Hinxton</a></td>
            <td><a href="#">EMBL Course: Finding Evidence in Research Publications</a></td>
          </tr>
          <tr>
            <td><span class="cp-meta">2 Oct</span><td>
            <td><a href="#" class="cp-meta">Heidelberg</a></td>
            <td><a href="#">EMBO | EMBL Symposium: Systems Genetics: From Genomes to Complex Traits</a></td>
          </tr>
          <tr>
            <td><span class="cp-meta">7 Oct</span><td>
            <td><a href="#" class="cp-meta">EMBL Hamburg</a></td>
            <td><a href="#">EMBO Workshop: Tools for Structural Biology of Membrane Proteins</a></td>
          </tr>
        </tbody>
      </table>
      <p><a href="#">Browse all events</a></p>
    </div>
      <div class="cp-card">
        <img src="/images/grey-box.png" class="cp-image-responsive" />
        <h3><a href="#">EMBL International Centre for Advanced Training (EICAT)</a></h3>
        <p>EICAT, EMBL's International Centre for Advanced Training, is devoted to excellence in training at all stages of careers in the life sciences.</p>
      </div>
  </div>
</div>
<p class="cp-box">Sign up for our event newsletter <button class="vf-button">Subscribe</button><p>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
  <h2><a href="#">Working at EMBL &rarr;</a></h2>

<div class="vf-grid vf-grid__col-3">
<div class="vf-grid__col--span-2">
  <h3>Latest jobs</h3>
  <table class="cp-table">
        <tbody>
          <tr>
            <td><a href="#">Staff Scientist Position – Structural and functional studies of protein complexes</a></td>
            <td><a href="#" class="cp-meta">Hamburg, Germany</span><td>
            <td><a href="#" class="cp-meta">Science faculty</a></td>
          </tr>
          <tr>
            <td><a href="#">Team Leader in Advanced Light Microscopy Service and Technology Development - EMBL Imaging Centre</a></td>
            <td><a href="#" class="cp-meta">Heidelberg, Germany</span><td>
            <td><a href="#" class="cp-meta">Science faculty</a></td>
          </tr>
          <tr>
            <td><a href="#">Team Leader in Electron Microscopy Service and Technology Development - EMBL Imaging Centre</a></td>
            <td><a href="#" class="cp-meta">Heidelberg, Germany</span><td>
            <td><a href="#" class="cp-meta">Science faculty</a></td>
          </tr>
          <tr>
            <td><a href="#">Research Technician - Haase Group</a></td>
            <td><a href="#" class="cp-meta">Barcelona, Spain</span><td>
            <td><a href="#" class="cp-meta">Research</a></td>
          </tr>
          <tr>
            <td><a href="#">Exciting EIPOD Postdoctoral Fellowships at the European Molecular Biology Laboratory (EMBL)</a></td>
            <td><a href="#" class="cp-meta">All EMBL Sites (Germany, UK, France, Italy, Spain)</span><td>
            <td><a href="#" class="cp-meta">Postdoctoral fellowships</a></td>
          </tr>
        </tbody>
      </table>
  <p>Browse jobs by <a href="#">location</a> or <a href="#">category</a></p>
</div>
<div>
  <img src="/images/grey-box.png"  class="cp-image-responsive"/>
  <p><a href="#">Join EMBL</a> and you’ll join a community of world-class researchers and skilled professionals working together to uncover the secrets of life. We offer attractive conditions and benefits to attract and retain the brightest talent.</p>
</div>
</div>
</section>

<section class="cp-container cp-container__promo vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">EMBL and the Tara Ocean Foundation &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-2">
      <div>
        <img src="/images/grey-box.png"  class="cp-image-responsive"/>
      </div>
      <p>EMBL’s collaboration with Tara began with the Tara Oceans expedition (2009–2013). The project was initiated by EMBL group leader Eric Karsenti, who led the mission’s scientific activities. EMBL coordinates the expedition’s scientific consortium, which includes more than 100 scientists from 18 partner institutions.</p>
  </div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
 <h2><a href="#">Topics &rarr;</a></h2>

  <div class=" vf-grid vf-grid__col-3">
    <a href="#">
      <div class="cp-card">
        <img src="/images/grey-box.png"  class="cp-image-responsive"/>
        <h3>Drug Discovery</h3>
        <p>A description of a topic and can run onto several lines in this card pattern.</p>
      </div>
    </a>
    <a href="#">
      <div class="cp-card">
        <img src="/images/grey-box.png"  class="cp-image-responsive"/>
        <h3>Cancer</h3>
        <p>A description of a topic and can run onto several lines in this card pattern.</p>
      </div>
    </a>
    <a href="#">
      <div class="cp-card">
        <img src="/images/grey-box.png"  class="cp-image-responsive"/>
        <h3>A title of a topic</h3>
        <p>A description of a topic and can run onto several lines in this card pattern.</p>
      </div>
    </a>
  </div>
</div>
</section>
