---
title: Content prototype
date: 2018-11-08 12:34:56
subtitle: Links to the versions of the content prototype available.
layout: layouts/post.njk
section: content-prototype
embl_content_meta_properties:
  who: tocome
  what: tocome
  where: tocome
  active: tocome
  utility: tocome
  reach: tocome
  maintainer: tocome
  lastreview: tocome
  reviewcycle: tocome
  expiry: tocome
templateEngineOverride: njk,md
---

<section class="vf-content">
<div>

[Version 2](https://v2--embl-conceptual-pages.netlify.com/)
: Changes to research, and services following consultation with Strategy team.

[Version 1](https://v1--embl-conceptual-pages.netlify.com/)
: Initial content prototype with a focus on homepage, research, services, training, and About EMBL.

 - ["Master" the latest changes](https://master--embl-conceptual-pages.netlify.com/)


</div>
</section>
