---
title: Content prototype - Training
date: 2018-11-08 12:34:56
subtitle: sub title
layout: layouts/cp-base.njk
section: content-prototype
embl_content_meta_properties:
  who: tocome
  what: tocome
  where: tocome
  active: tocome
  utility: tocome
  reach: tocome
  maintainer: tocome
  lastreview: tocome
  reviewcycle: tocome
  expiry: tocome
  templateEngineOverride: njk,md
---


<section class="cp-container vf-grid">
  <nav class="vf-navigation vf-navigation--global">
    <ul class="vf-navigation__list | vf-list--inline">
      <li class="vf-navigation__item"><a href="{{ '/' | url }}" class="vf-navigation__link">Home</a></li>
      <li class="vf-navigation__item"><a href="{{ '/research' | url }}" class="vf-navigation__link">Research</a></li>
      <li class="vf-navigation__item"><a href="{{ '/services' | url }}" class="vf-navigation__link">Services &amp; Facilities</a></li>
      <li class="vf-navigation__item"><a href="{{ '/training' | url }}" class="vf-navigation__link">Training</a></li>
      <li class="vf-navigation__item"><a href="{{ '/about' | url }}" class="vf-navigation__link">About EMBL</a></li>
    </ul>
  </nav>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
  <h1>Providing world-class research infrastructure and services </h1>
  <p>EMBL provides the world’s most comprehensive range of freely available and up-to-date molecular data resources and tools, core molecular biology services.</p>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
<h2><a href="#">Bioinformatics services and IT infrastructure</a></h2>
<p><em>25 million web requests received every day by EMBL-EBI’s data resources</em></p>
<p>Through EMBL’s European Bioinformatics Institute (EMBL-EBI), the world’s most comprehensive source of biomolecular data, we provide a broad community
of commercial and academic researchers around the
world with access to crucial data.</p>
<p><em><a href="#"">Browse bioinformatics services</a></em></p>

<div>

<h2><a href="#">Structural biology services</a></h2>
<p><em>3000 user visits hosted each year at EMBL Hamburg and Grenoble</em></p>
<p>Together with the German Electron Synchrotron (DESY) in Hamburg and the European Synchrotron Radiation Facility (ESRF) in Grenoble, EMBL provides access to crucial enabling infrastructure for structural biology users from all over Europe.</p>
<div class="cp-box">
  <form>
    <input type="text" placeholder="What are you looking for?" class="cp-input">
    <button class="vf-button">Search</button>
  </form>
  <p>Browse <a href="#">Tools</a>, <a href="#">Data Resources</a>, <a href="#">Type</a>, <a href="#">A - Z</a></p>
  </div>

</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
<h2><a href="#">Tools &amp; Data Resources &rarr;</a></h2>
<p>The European Bioinformatics Institute (EMBL-EBI) maintains the world’s most comprehensive range of freely available and up-to-date molecular data resources.</p>
<div class="cp-box">
  <form>
    <input type="text" placeholder="What are you looking for?" class="cp-input">
    <button class="vf-button">Search</button>
  </form>
  <p>Browse <a href="#">Tools</a>, <a href="#">Data Resources</a>, <a href="#">Type</a>, <a href="#">A - Z</a></p>
  </div>
<div class="vf-grid vf-grid__col-2">
  <div>
    <h4>Top Tools</h4>
    <ul>
      <li><a href="#">Clustal Omega</a><br/>Multiple sequence alignment of DNA or protein sequences. Clustal Omega replaces the older ClustalW alignment tools.</li>
      <li><a href="#">InterProScan</a><br />InterProScan searches sequences against InterPro's predictive protein signatures.</li>
      <li><a href="#">BLAST [protein]</a><br />Fast local similarity search tool for protein sequence databases.</li>
      <li><a href="#">BLAST [nucleotide]</a><br />Fast local similarity search tool for nucleotide sequence databases.</li>
      <li><a href="#">HMMER</a><br />Fast sensitive protein homology searches using profile hidden Markov models (HMMs) for querying against both sequence and HMM target databases.</li>
    </ul>
    <button class="vf-button">Browse all tools</button>
  </div>
  <div>
    <h4>Top Data Resources</h4>
    <ul>
      <li><a href="#">Ensembl</a><br />Genome browser, API and database, providing access to reference genome annotation</li>
      <li><a href="#">UniProt</a><br />A comprehensive resource for protein sequence and functional annotation.</li>
      <li><a href="#">PDBe</a><br />The European resource for the collection, organisation and dissemination of 3D structural data (from PDB and EMDB) on biological macromolecules and their complexes.</li>
      <li><a href="#">Europe PMC</a><br />A database to search the worldwide life sciences literature</li>
      <li><a href="#">Expression Atlas</a><br />An added-value database that shows which genes/proteins are expressed under which conditions, and how expression differs between conditions.</li>
      <li><a href="#">ChEMBL</a><br />An open data resource of binding, functional and ADMET bioactivity data.</li>
    </ul>
     <button class="vf-button">Browse all data resources</button>
  </div>
</div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
<h2><a href="#">EMBl Heidelberg Core Facilities &rarr;</a></h2>
<p>The EMBL model for Core Facilities has developed a first-rate reputation in the European life sciences community. </p>
<div class="vf-grid vf-grid__col-2">
  <div>
    <p>The Core Facilities contribute significantly to internal and external training courses and workshops, often in collaboration with industrial partners. Moreover, institutions in member states frequently seek our advice and guidance in setting up their own core facilities and services to enhance the efficiency and effectiveness of their scientific research.</p>
  </div>
  <div>
    <ul>
      <li><a href="#">Advanced Light Microscopy</a></li>
      <li><a href="#">Chemical Biology</a></li>
      <li><a href="#">Electron Microscopy</a></li>
      <li><a href="#">Flow Cytometry</a></li>
      <li><a href="#">Genomics</a></li>
      <li><a href="#">Metabolomics</a></li>
      <li><a href="#">Protein Expression and Purification</a></li>
      <li><a href="#">Proteomics</a></li>
    </ul>
  </div>
</div>
</div>
</section>

<section class="cp-container vf-grid vf-grid__col-1">
<div>
<h2>Services &amp; Facilities at EMBL locations</h2>
<div class="vf-grid vf-grid__col-2">
  <div>
    <h4>Barcelona</h4>
    <p>Description of services available at this site.</p>
    <ul>
      <li><a href="#">Mesoscopic Imaging Facility</a></li>
    </ul>
    <hr />
    <h4>Hamburg</h4>
    <p>EMBL Hamburg operates an integrated infrastructure for life science applications using synchrotron radiation.</p>
    <ul>
      <li><a href="#">Sample Preparation and Characterisation</a></li>
      <li><a href="#">Small Angle X-Ray Scattering</a></li>
      <li><a href="#">Macromolecular Crystallography</a></li>
      <li><a href="#">Computational Facilities and Software</a></li>
      <li><a href="#">Access to Infrastructures</a></li>
      <li><a href="#">Christian Boulin Fellowships</a></li>
    </ul>
    <hr />
    <h4>Heidelberg</h4>
    <p>Description of services available at this site.</p>
    <ul>
      <li><a href="#">Core Facilities</a></li>
      <li><a href="#">IT Services</a></li>
      <li><a href="#">Bioinformatics Services</a></li>
      <li><a href="#">Szilárd Library</a></li>
      <li><a href="#">Cryo-Electron Microscopy Service Platform</a></li>
    </ul>

  </div>
  <div>
    <h4>Hinxton (EMBL-EBI)</h4>
    <p>Description of services available at this site.</p>
    <ul>
      <li><a href="#">Tools</a></li>
      <li><a href="#">Data Resources</a></li>
    </ul>
    <hr />
    <h4>Grenoble</h4>
    <p>Description of services available at this site.</p>
    <ul>
      <li><a href="#">Synchrotron Beamline Access</a></li>
      <li><a href="#">High-Throughput Crystallisation</a></li>
      <li><a href="#">High-Throughput Expression</a></li>
      <li><a href="#">Analysis of interactions by calorimetry (ITC)</a></li>
      <li><a href="#">Access to Neutron Sources</a></li>
      <li><a href="#">Deuteration Isotope Labelling Facility</a></li>
    </ul>
    <hr />
    <h4>Rome</h4>
    <p>Description of services available at this site.</p>
    <ul>
      <li><a href="#">Flow Cytometry Facility</a></li>
      <li><a href="#">Genetic & Viral Engineering Facility</a></li>
      <li><a href="#">Histology Service</a></li>
      <li><a href="#">Microscopy Facility</a></li>
      <li><a href="#">Gene Editing & Embryology Facility</a></li>
    </ul>

  </div>
</div>
</div>
</section>
